<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--  	filter   -->
  <filter>
    <filter-name>MemberFilter</filter-name>
    <filter-class>filters.MemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/front-end/protected/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServletBack</servlet-name>
    <servlet-class>com.member.controller.MemberServletBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServletBack</servlet-name>
    <url-pattern>/member/memberback.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberPicShow</servlet-name>
    <servlet-class>com.member.controller.MemberPicShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberPicShow</servlet-name>
    <url-pattern>/member/MemberPicShow.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdministratorServlet</servlet-name>
    <servlet-class>com.administrator.controller.AdministratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorServlet</servlet-name>
    <url-pattern>/administrator/administrator.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>com.authority.controller.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/authority/authority.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHandlerMem</servlet-name>
    <servlet-class>com.member.controller.LoginHandlerMem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandlerMem</servlet-name>
    <url-pattern>/member/loginHandlerMem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHandlerAd</servlet-name>
    <servlet-class>com.administrator.controller.LoginHandlerAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandlerAd</servlet-name>
    <url-pattern>/administrator/loginHandlerAd.do</url-pattern>
  </servlet-mapping>
</web-app>