.picInfo{
    width: 500px;
    margin: 0 auto;
}
.picInfo img{
    max-width: 100%;
    height: auto;
}
input[type="range"]{
    width: 300px;
}
.photoshop{
    /* border: 1px solid blue; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
}
.photoshop div{
    margin-bottom: 20px;
}
.photoshop div span{
    display: inline-block;
    width: 20px;
}
.photoshop div input[type="range"]{
    margin: 25px;
}
.photoshop label{
    font-size: 20px;
}
.photoshop label img{
    width: 25px;
    height: 25px;
    margin-left: 8px;
}
.photoshop label img, .photpshop label{
    vertical-align: middle;
}

h2{
    text-align: center;
}
input[type="range"]:hover{
    cursor: pointer;
}


input[type="range"]{
    -webkit-appearance: none;
    border-radius:2px;
    width:200px;
    height:3px;
    background-image:-webkit-linear-gradient(left ,#f22 0%,#f22 50%,#fff 50%, #fff 100%);
    box-shadow:inset #ebb 0 0 5px;
    outline : none;
    transition:.1s;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:20px;
    height:20px;
    background:#f22;
    border-radius:50%;
    transition:.1s;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover,
  input[type="range"]::-webkit-slider-thumb:active{
    width:26px;
    height:26px;
  }